/* Posts
====================================== */

.posts {
  .panel-title {
    padding-top: 8px;
  }

  .panel-footer {
    text-align: center;
  }
}

.post {
  font-size: $font-size-large;
}

.post-title {
  margin-right: 0.6em;
}

.hostname {
  font-size: $font-size-small;
}

.upvote {
  display: inline-block;
  color: $dark-gray;
  user-select: none;
  line-height: 1;

  &:hover {
    text-decoration: none;
  }

  &.updating {
    opacity: 0.8;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    width: 12px;
    height: 12px;
    margin-left: 3px;
    fill: $dark-gray;
  }

  &.upvoted svg {
    fill: $upvoted;
  }
}

.post-info,
.comment-info {
  margin-top: 0.2rem;
  font-size: $font-size-small;
}

.post-info-item:before {
  content: '\00b7';
  display: inline-block;
  margin: 0 0.6rem;
}

