/* Single Post
====================================== */

// .comments {}

.single-post {
  .post {
    margin-bottom: 20px;
  }

  .post-title {
    font-size: $font-size-large + 4px;
  }

}

.comment {
  margin: $padding-large-vertical 0;
  position: relative;
  margin-left: 20px;
}

.comment-content {
  margin-left: 80px;
}
