/* Single Post
====================================== */

// .comments {}

.single-post {
  .post {
    padding-bottom: 20px;
  }

  .post-title {
    font-size: $font-size-large + 4px;
  }
}

.comment {
    margin: $padding-large-vertical 0;
}
