.react-spinner {
  margin-top: 32px;
  .btn & {
    margin-top: 0;
    transform: translateY(1rem);
    width: 27px;
    height: 22px;
  }
}

.react-spinner_bar {
  background: $btn-primary-color;
  background: $dark;
  .btn & {
    background: #fff;
  }
}

