/*
Project:    react-news
Author:     Evan Henley
Author URI: http://henleyedition.com/
====================================== */

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 16px;
$navbar-height: 57px;

$dark: #040203;
$dark-gray: #7a8b99;
$upvoted: #449dd1;
$small: 1rem;
$medium: 2rem;
$large: 3rem;

@import 'bootswatch/cerulean/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootswatch/cerulean/bootswatch';
@import 'react-spinner/react-spinner';

// @import 'normalize';
// @import 'reset';
//
// @import 'variables';
// @import 'helpers';
//
// @import 'structure';
//
// // components
@import 'spinner';

@import 'general';
@import 'navbar';


// views
@import 'posts';
@import 'profile';
@import 'single-post';
