/*
Project:    react-news
Author:     Evan Henley
Author URI: http://henleyedition.com/
====================================== */

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-size-base: 16px;
$navbar-height: 57px;

@import "bootswatch/cerulean/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch/cerulean/bootswatch";


// @import 'normalize';
// @import 'reset';
//
// @import 'variables';
// @import 'helpers';
//
// @import 'structure';
// @import 'general';
//
// // components
// @import 'spinner';

@import 'navbar';

//
// // views

$dark-gray: #7a8b99;
$upvoted: #449dd1;

@import 'posts';

// @import 'single-post';
// @import 'modal';
